body{
    margin: 0;
    padding: 0;
    background-color: url("/fondos/fondo1.jpg");

}

/*Logo y saludo*/
.saludo{
    display: flex;
}
.logo{
    color: white;
    margin-left: 50px;
}
/*Info y estilos de form*/
.container{
    background-color: rgb(60, 153, 207);
    max-width: 300px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    border-radius: 6px;
    box-shadow: 16px 12px 10px rgb(80, 80, 80);
}
div{
    display: block;
}
label, input{
    margin: 10px;
    display: block;
}
label{
    color: white;
    text-align: center  ;
}
input{
    padding: 5px;
    margin: auto;
    border-radius: 6px;
}
input::placeholder{
    color:rgb(60, 153, 207) ;
}
button{
    text-align: center;
}
.buton__container{
    text-align: center;
}
.btn{
    background: none;
    border: none;
    padding: 12px;
    margin: 20px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    color: white;
    border-radius: 6px;
}
.onClick:hover{
    background-color: white;
    color: rgb(60, 153, 207);
    

}
.link__a{
    display: block;
    text-align: center;
}
.link{
    text-decoration: none;
    display: block;
    color: white;
    margin: 5px;
}
.link:hover{
    color: rgb(175, 218, 255);
}

/*footer*/

.footer{
    background-color: rgb(60, 153, 207);
    padding: 5px;
    margin-top: 10%;
}
.footer footer{
    color: white;
    text-align: center;
}