*{
    padding: 0;
    margin: 0;

}
body{
    background-image: url("/fondos/Fondo_mar.webp");
    background-size: 100% 100%;

}
/*  BARRA DE NAVEGACION*/
.nav{
    background-color: rgba(70, 158, 154, 0.384);
    width: 100%;
    height: 50px;
    
}
.nav__list{
    text-align: center;
}
.nav__boton{
    
    border: none;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    margin: 5px;
    text-align: center;
    background: none;
    color: white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 6px;
}
.nav__boton:hover{
    box-sizing: border-box;
    background: white;
    font-weight: 900;
    color:rgb(60, 153, 207);
}
.boton__ayuda{
    box-sizing: border-box;
    margin-left: 100px;
}
    
/*HEADER DE SALUDO*/
.header{
    box-sizing: border-box;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 10px; 
    background-color: e;
    transition: background-color 1s ease;
    background-color: rgba(70, 158, 154, 0.384);
}
.header:hover{
    background-color:rgba(43, 94, 91, 0.384) ;
}


.logo{
    width: 30px;
    height: 30px;
    margin-left: 30px;
}
.saludo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
/* BARRA DE NAVEGACION, LOGOTIPO DE USUARIO */

.user__image{
    margin-left: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* Estilos del modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Ocultar formulario de edición por defecto */
#editForm {
    margin-top: 10px;
}
/*Carta de presentación*/
.container{
    text-align: center;
    
}
.card{
    background:url("/fondos/Nubes_oscuras.webp");
    background-size: 100% 100%;
    width: 300px;
    padding: 15px;
    margin: auto;
    margin-top:30px  ;
    margin-left: 50px;
    border-radius: 6px;
    transition: background 2s ease;
    color: white;
    display: inline-block;
    

}
.card:hover{
    background: url("/fondos/Nubes.png");
    background-size: 100% 100%;
    color: rgb(70, 111, 247);
    font-weight: 700;
}
.card__header{
    box-sizing: border-box;
    background-color :rgba(42, 77, 75, 0.384);
    width: 100%;
    padding: 5px;
    text-align: center;
    color: white;
    text-transform: uppercase ;
    border-radius: 6px;
}
p{
    margin-top: 20px;
}

/*FOOTER*/
/*FOOTER*/
.footer{
    background-color: transparent;
    padding: 5px;
    margin-top: 20%;
}
.footer footer{
    color: white;
    text-align: center;
    box-shadow: -10px -10px 10px rgb(0, 0, 0, 0.5);
}